.form-section {
  background-image: url("../img/background-3.png");
  background-color: $light-blue;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgroun-3@2x.png");
  }
}

.form-section__wrapper-content {
  @include alignment-desktop();
  padding: 50px 162px 51px 163px;
  display: flex;
}

.form-section__wrapper-text {
  width: 50%;
  padding-top: 130px;
}

.form-section__title {
  @include font-700();
  @include font(40px, 60px);
  color: $dark;
  margin-bottom: 8px;
}

.form-section__text {
  @include font-400();
  @include font(18px, 27px);
  color: $dark;
  margin-top: 0;
  padding-right: 170px;
}

.form-section__wrapper-form {
  width: 403px;
  padding: 45px 50px 50px;
  box-sizing: border-box;
  background-color: $dark;
  margin-left: auto;
}

.form-section__description {
  @include font-400();
  @include font(18px, 27px);
  color: $light;
  margin-top: 0;
  margin-bottom: 26px;
}

.form-section__form {
  display: flex;
  flex-direction: column;
}

.form-section__label {
  margin-bottom: 20px;
}

.form-section__input {
  width: 100%;
  box-sizing: border-box;
  background-color: $light;
  color: $dark;
  @include font-400();
  @include font(14px, 21px);
  padding: 12px 16px 10px;
  border: none;
}

.form-section__label--checkbox {
  display: flex;
  align-items: center;
}

.form-section__checkbox {
  display: block;
  @include size (18px, 18px);
  margin-right: 6px;
  background-color: $light;
}

.form-section__svg {
  @include size (18px, 10px);
  fill: none;
  display: none;
}

.form-section__input-checkbox:checked + .form-section__checkbox {
  .form-section__svg {
    display: block;
    position: relative;
    top: 4px;
  }
}

.form-section__form-text {
  @include font-400();
  @include font(10px, 13px);
  color: $light;
  width: calc(100% - 24px);
}

.form-section__button {
  width: 100%;
  background-color: $light;
  color: $dark;
  @include font-600();
  @include font(14px, 21px);
  padding: 10px;
  margin-top: 11px;
  border: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: 2px solid #81b3d2;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .form-section {
    background-image: url("../img/background-3-tablet@1x.png");
    padding-bottom: 101px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-3-tablet@2x.png");
    }
  }

  .form-section__wrapper-content {
    @include alignment-tablet();
    flex-direction: column;
    padding-bottom: 0;
  }

  .form-section__wrapper-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 34px;
    text-align: center;
  }

  .form-section__title {
    @include font(34px, 51px);
    margin-bottom: 5px;
  }

  .form-section__text {
    margin-top: 0;
    padding: 0 160px;
  }
  .form-section__wrapper-form {
    margin: 0 auto;
  }

  .form-section__description {
    margin-bottom: 26px;
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .form-section {
    background-image: url("../img/background-3-mobile@1x.png");
    padding-bottom: 65px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-3-mobile@2x.png");
    }
  }

  .form-section__wrapper-content {
    @include alignment-mobile();
    flex-direction: column;
    padding-top: 29px;
    padding-bottom: 0;
  }

  .form-section__wrapper-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 18px;
    text-align: center;
  }

  .form-section__title {
    @include font(24px, 31px);
    margin-bottom: 14px;
  }

  .form-section__text {
    @include font(16px, 22px);
    margin-top: 0;
    padding: 0 10px;
  }
  .form-section__wrapper-form {
    width: 290px;
    padding: 35px 30px 41px;
    margin: 0 auto;
  }

  .form-section__description {
    @include font(18px, 25px);
    margin-bottom: 28px;
    text-align: center;
  }

  .form-section__input-checkbox {
    @include size (30px, 20px);
  }

  .form-section__button {
    margin-top: 5px;
  }
}
