.main-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.main-menu__button {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: 2px solid #81b3d2;
  }
}

.main-menu__list {
  @include list-reset();
  display: flex;
  top: 0;
  padding-top: 10px;
}

.main-menu__list-item:not(:last-child) {
  margin-right: 34px;
}

.main-menu__link {
  @include font(16px, 20px);
  @include font-500;
  @include link-reset($light);

  &:hover {
    color: $light-hover;
  }

  &:focus {
    color: $light-active;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .main-menu__list {
    padding-top: 2px;
  }

  .main-menu__list-item:not(:last-child) {
    margin-right: 24px;
  }

  .main-menu__link {
    @include font(14px, 17px);
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .main-menu__svg--open {
    stroke: $light;
    width: 30px;
    height: 14px;
    position: relative;
    top: 3px;
    right: 0px;
  }

  .main-menu__svg--close {
    display: none;
  }

  .main-menu__button {
    display: block;
    margin-left: auto;
    padding: 0;
    position: relative;
    left: 3px;

    &:hover .main-menu__svg--open {
      stroke: $light-hover;
    }

    &:focus .main-menu__svg--open {
      stroke: $light-active;
    }
  }

  .main-menu__wrapper {
    background-color: transparent;
    display: none;
  }

  .main-menu__link {
    @include font(18px, 22px);

    &:hover {
      color: $dark-hover;
    }

    &:focus {
      color: $dark-active;
    }
  }

  .page-header.page-header--opened {
    .main-menu__button {
      top: -39px;
      right: 8px;
      height: 20px;

      &:hover .main-menu__svg--close {
        stroke: $dark-hover;
      }

      &:focus .main-menu__svg--close {
        stroke: $dark-active;
      }
    }

    .main-menu__svg--open {
      display: none;
    }

    .main-menu__svg--close {
      display: block;
    }

    .main-menu__wrapper {
      display: block;
      width: 100%;
    }

    .main-menu {
      width: 100%;
      margin-left: 0;
      @include alignment-mobile();
      min-height: 259px;
      box-sizing: border-box;
      background-color: $light;
      padding-top: 20px;
      position: absolute;
      top: 40px;
      left: 0;
    }

    .main-menu__list {
      flex-direction: column;
    }

    .main-menu__list-item:not(:last-child) {
      margin-bottom: 21px;
    }

    .main-menu__link {
      color: $dark;

      &:hover {
        color: $dark-hover;
      }

      &:focus {
        color: $dark-active;
      }
    }
  }

  .no-js {
    .page-header {
      .main-menu {
        width: auto;
        margin-left: 0;
        @include alignment-mobile();
        min-height: 257px;
        box-sizing: border-box;
        background-color: $light;
        padding-top: 36px;
      }

      .main-menu__wrapper {
        display: block;
      }

      .main-menu__button {
        display: none;
      }

      .main-menu__list {
        flex-direction: column;
      }

      .main-menu__list-item {
        margin-bottom: 21px;
      }

      .main-menu__link {
        color: $dark;

        &:hover {
          color: $dark-hover;
        }

        &:focus {
          color: $dark-active;
        }
      }
    }
  }
}
