.page-footer {
  background-color: $dark;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-footer__wrapper {
  max-width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 103px;
  padding-right: 103px;
  display: flex;
}

.page-footer__nav.main-menu {
  margin-left: 0;

  .main-menu__link-logo {
    margin-right: 40px;
  }

  .main-menu__list-item {
    margin-right: 34px;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .page-footer__wrapper {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
  }

  .page-footer__nav.main-menu {
    flex-wrap: nowrap;

    .main-menu__list {
      padding-top: 0;
    }

    .main-menu__list-item:not(:last-child) {
      margin-right: 24px;
    }

    .main-menu__list-item:last-child {
      margin-right: 0;
    }

    .main-menu__link {
      @include font(12px, 15px);
    }

    .main-menu__link-logo {
      margin-right: 25px;
    }

    .main-menu__link-logo img {
      @include size(38px, 20px);
    }
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    @include alignment-mobile();
    flex-direction: column;
  }

  .page-footer__nav.main-menu {
    flex-direction: column;
    flex-wrap: nowrap;

    .main-menu__list {
      flex-direction: column;
      padding-top: 0;
      margin-bottom: 26px;
    }

    .main-menu__list-item:not(:last-child) {
      margin-right: 24px;
      margin-bottom: 14px;
    }

    .main-menu__list-item:last-child {
      margin-right: 0;
    }

    .main-menu__link {
      @include font(12px, 15px);
    }

    .main-menu__link-logo {
      margin-right: 25px;
      margin-bottom: 23px;
    }

    .main-menu__link-logo img {
      @include size(38px, 20px);
    }
  }

}
