.page-header {
  background-image: url("../../img/Background-1.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 650px;
  margin-bottom: 120px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-1@2x.png");
  }
}

.page-header__wrapper-alignment {
  @include alignment-desktop();
  display: flex;
  padding-top: 35px;
  margin-bottom: 197px;
}

.page-header__link-logo {
  display: block;
  @include size(70px, 38px);
  margin-right: 50px;
}

.page-header__heading {
  @include main-heading();
  @include alignment-desktop();
  padding-left: 200px;
  margin-bottom: 12px;
}

.page-header__text {
  @include font(20px, 25px);
  @include font-regular();
  color: $light;
  margin-top: 0;
  @include alignment-desktop();
  padding-left: 198px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .page-header {
    min-height: 638px;
    background-image: url("../../img/background-tablet-1.png");
    margin-bottom: 100px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-tablet-1@2x.png");
    }
  }

  .page-header__wrapper-alignment {
    @include alignment-tablet();
    padding-top: 29px;
    margin-bottom: 219px;
  }

  .page-header__heading {
    @include font(50px, 61px);
    @include alignment-tablet();
    margin-bottom: 12px;
  }

  .page-header__text {
    @include alignment-tablet();
    @include font(18px, 22px);
  }

  .page-header__link-logo {
    display: block;
    @include size(38px, 20px);
  }
}

@media (min-width: 0) and (max-width: $mobile-max-width) {
  .page-header {
    min-height: 500px;
    background-image: url("../../img/background-mobile-1.png");
    position: relative;
    margin-bottom: 57px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-mobile-1@2x.png");
    }
  }

  .page-header__wrapper-alignment {
    @include alignment-mobile();
    padding-top: 20px;
    margin-bottom: 219px;
  }

  .page-header__heading {
    @include font(36px, 45px);
    @include alignment-mobile();
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .page-header__text {
    @include alignment-mobile();
    @include font(16px, 22px);
    padding-right: 80px;
  }

  .page-header__link-logo {
    display: block;
    @include size(38px, 20px);
    margin-left: 2px;
  }

  .no-js {
    .page-header__link-logo {
      display: none;
    }

    .page-header {
      min-height: 500px;
    }

    .page-header__wrapper-alignment {
      min-width: 320px;
      max-width: 100%;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 70px;
    }

    .page-header__link-logo {
      @include size(42px, 22px);
      padding-right: 20px;
    }
  }

  .page-header__wrapper-alignment {
    @include alignment-mobile();
    margin-bottom: 137px;
  }

  .page-header--opened {
    .page-header__link-logo {
      display: none;
    }
  }
}
