body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark;
  position: relative;
  background-color: $light;
}

img {
  width: 100%;
  height: auto;
}


input {
  cursor: pointer;
}

input:active,
textarea:active,
input:focus,
textarea:focus {
  outline: 2px solid #81b3d2;
}
