// Базовые размеры

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Базовые цвета
$light: #F9FBFD;
$light-hover: rgba(249, 251, 253, 0.7);
$light-active: rgba(249, 251, 253, 0.3);
$dark: #011C40;
$dark-hover:rgba(1, 28, 64, 0.7);
$dark-active:rgba(1, 28, 64, 0.3);
